<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link rel='preconnect' href='https://fonts.gstatic.com' />
        <link href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap' rel='stylesheet' />
        style
            include ./email.css

    body
        h2 Confirma tu Cuenta en Uptask
        p Ya casi estás inscripto, solo presiona el siguiente boton
        a(href=`${url}`) Confirmar Cuenta
        p Si no puedes acceder a este enlace, visita #{url}
        p Si no solicitaste este e-mail, puedes ignorarlo
