$white-dark: #E5E5E5;
$white: #FDFDFD;
$green-dark: #1E6F5C;
$green: #289672;
$green-light: #29BB89;
$yellow-dark: #D4CB24;
$yellow: #E6DD3B;
$yellow-light: #F9F050;
$red-dark: #BF1C26;
$red: #EF233C;
$red-light: #F13950;
$black-dark: #151515;
$black: #212121;
$black-light: #303030;

$font-regular: 400 1rem 'Nunito', sans-serif;
$font-bold: bold 1rem 'Nunito', sans-serif;
