.title_container{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(105deg, #29BB89 15%, #1E6F5C 91.49%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}
